body{
    display: block;
    margin: auto;
    background-color: linen;
    width: 80%;
    font-size: 62.5%;
}
#wrapper{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 20% 80%;
    grid-gap: 1px;
}
#b1{
    display: block;
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #444444;
}
h1{
    color: #aaaaaa;
    font-size: 2.0rem;
    text-align: center;
    margin:auto ;
    width: 40%;
    padding: 5px;
}
#b2{
    background-color: #aaaaaa;
    color: gainsboro;
    grid-column: 1/2;
    grid-row: 1/4;
}


span{
    text-align: center;
    font-size: 1.24rem;
    color: #f5f5ff;
    padding: 5px;
    margin-top: 10px;
}
#inputType{
    background-color: #f5f5ff;
}
select{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 15px;
    height: 25px;
    background-color: darkseagreen;
    font-size: 1rem;
    border: #333333 solid 1px;
}
option{
    text-align: center;
    font-size:1rem ;
}
#b3{
    display: block;
    background-color: cornsilk;

    grid-column: 2/4;
    grid-row: 2/3;
    min-height: 300px;
}
#imageDiv{
    display: block;
    width: 100%;
    margin: auto;
    //padding: 5px;
    //border: #333333 solid 1px;
}
img{
    display: block;
    width: 60%;
    margin: 10px auto 10px auto;
}
#config-btn,#btn01{
    width: 90%;
    height: 30px;
    display: block;
    margin: 10px auto;
}
#tlt1{
    display: block;
    margin: 5px auto;
    height: 25px;
    border: #444444;
    text-align: center;
}
#b4{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #444444;
    min-height: 100px;
}
#dataFill{
    width: 96%;
    height: auto;

}
#dataApplyBtn,#dataClearBtn{
    width: 150px;
    height: 30px;
    margin: 10px auto 10px auto;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#input11,#realData{
    margin: 5px;
    width: 60%;
    height: 30px;
    font-size: 1.22rem;
}
#input22{
    margin: 5px;
    width: 60%;
    height: 30px;
    font-size: 1.22rem;
    background-color: #f5f5ff;
}
#addColor{
    margin-left: 5px;
    width: 80px;
}
#border-color{
    margin-top: 10px;
}
#toolTip-fontSize,#legend-fontSize{
    //display: inline-block;
    margin: 10px auto;
    width: 50px;
}
.allSpan{
    margin-top: 10px;
}